@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "compass/css3";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85);
}



span{
    font-size: .9rem;
    color: #757373;

}

h6{
    font-size: 1.1rem;
    color:rgb(24, 24, 49);
}



/* Navigation */
nav{
    position: fixed;
    width: 100%;
    background-color: rgb(35, 35, 85);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding: 1vw 8vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    z-index: 999;
}

nav img{
    width: 170px;
    cursor: pointer;

}

nav .navigation{
  display: flex;
}

#menu-btn{
  width: 30px;
  height: 30px;
  display: none;
}

#menu-close{
  display: none;
}

nav .navigation ul{
    display: flex;
    justify-content: flex-end;
}

nav .navigation ul li{
    list-style: none;
    margin-left: 30px;
}

nav .navigation ul  li a{
    text-decoration: none;
    color: azure;
    font-size: 12px;
    font-weight: 500;
    transition: 0.5s ease-in-out;
}

nav .navigation ul  li a:hover{
    color: #FDC93B;
}





/* Home */

#home{
    
    background-image: linear-gradient(rgba(1, 0, 29, 0.3), rgba(0, 0, 0, 0.7)),url("images/back.jpeg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#home h2{
    color: aliceblue;
    font-size: 2.4rem;
    letter-spacing: 2px;
    margin-top: 7vw;
    padding-left: 3vw;
    padding-right: 3vw;
    text-shadow: 10px 20px 30px rgba(0, 0, 49, 0.37);

}

#home h3{
    color: rgb(227, 242, 255);
    width: fit-content;
    padding-top: 4vw;
    font-size: 1.95rem;
    letter-spacing: 1px;
    line-height:  40px;
    text-shadow: 10px 20px 30px rgba(0, 0, 49, 0.37);
}

#home h4{
    color: rgb(227, 242, 255);
    padding-top: 4vw;
    font-size: 1.6rem;
    letter-spacing: 1px;
    line-height:  50px;
    text-shadow: 10px 20px 30px rgba(0, 0, 49, 0.37);
}

#home a{
    text-decoration: none;
    font-size: 0.9rem;
    padding:13px 35px;
    background-color: honeydew;
    font-weight: 600;
    border-radius: 5px;
    
}

#home .btn{
    margin-top: 30px;
}

#home a.blue{
    color:rgb(21, 21, 100);
    background: #FDC93B;
    transition: 0.5s ease-in-out;
}

#home a.blue:hover{
    color:#FDC93B;
    background: rgb(21, 21, 100);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
/* #home p{
    width: 50%;
    color: rgb(227, 242, 255);
    font-size: 1rem;
    line-height:  25px;
} */




/* Marquee */

#mar{
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

}


/* About */

#about{
    padding: 4vw 20vw 4vw 20vw;;
    text-align: center;
}

#about .abt-box{
    padding: 4%;
    border-radius: 10px;
    background: azure;
    text-align: justify;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    margin-top: 2vw;
    transition: 0.5s ease-in-out;

  }
  
  #about .abt-box:hover{
    box-shadow: 0 20px 45px 0 rgba(0, 0, 4, 0.37);
  
  
  }
#about .abt-box h4{
    font-size: 1 rem;
    font-weight: 400;
    color: rgb(46, 46, 59);
}




/* About Page boxes */

#aboutpg{

  padding: 4vw 20vw 4vw 20vw;;
  text-align: center;
}

#aboutpg .abt-box{
  padding: 4%;
  border-radius: 10px;
  background: azure;
  text-align: justify;
  box-shadow: 0 8px 32px 0 rgba(55, 60, 115, 0.37);
  margin-top: 2vw;
  transition: 0.5s ease-in-out;
}

#aboutpg .abt-box:hover{
  box-shadow: 0 20px 45px 0 rgba(0, 0, 4, 0.37);
}


#aboutpg .abt-box h4{
  font-size: 1 rem;
  font-weight: 400;
  color: rgb(46, 46, 59);
}





/* Dates */

#date{
  list-style:none;
  padding: 4vw 30% 4vw 30%;
  text-align: center;
}

#date  .lis{
  padding-left: 2vw;
  text-align: center;

}
#date .abt-box{
  padding: 2.5%;
  border-radius: 10px;
  background: azure;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  margin-top: 2vw;
  transition: 0.5s ease-in-out;

}

#date .abt-box:hover{
  box-shadow: 0 20px 45px 0 rgba(0, 0, 4, 0.37);


}


#date .abt-box h4{
  margin-top: 30px;
  font-size: 1 rem;
  font-weight: 400;
  color: rgb(46, 46, 59);
}

#date a{
text-decoration: none;
font-size: 0.9rem;
padding:13px 35px;
background-color: honeydew;
font-weight: 600;
border-radius: 5px;
}

#date .btn{
margin: 30px 0 30px 0;
}

#date a.blue{
color:rgb(21, 21, 100);
background: #FDC93B;
transition: 0.5s ease-in-out;
}

#date a.blue:hover{
color:#FDC93B;
background: rgb(21, 21, 100);
box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}








/* Registration */

#registration{
  margin: auto;
  padding: 14vw 14vw 14vw 14vw;
  background-image: linear-gradient(rgba(99,112,168,0.5), rgba(81,91,233,0.5)),
  url("images/signup.jpeg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}



#registration .timer{
  font-size: 500%;
  font-weight: 700;
  color: rgb(35, 35, 85);
}

#registration .timer .head{
  text-align: center;
  padding: 8vw 8vw 8vw 8vw;
}

#registration .timer .flip-card {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
  border-radius: .1em;
}

#registration .timer .top,
.bottom,
.flip-card .top-flip,
.flip-card .bottom-flip {
  height: .75em;
  line-height: 1;
  padding: .25em;
  overflow: hidden;
}

#registration .timer .top,
.flip-card .top-flip {
  background-color: #f7f7f7;
  border-top-right-radius: .1em;
  border-top-left-radius: .1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#registration .timer .bottom,
.flip-card .bottom-flip {
  background-color: white;
  display: flex;
  align-items: flex-end;
  border-bottom-right-radius: .1em;
  border-bottom-left-radius: .1em;
}

#registration .timer .flip-card .top-flip {
  position: absolute;
  width: 100%;
  animation: flip-top 250ms ease-in;
  transform-origin: bottom;
}

@keyframes flip-top {
  100% {
    transform: rotateX(90deg);
  }
}

#registration .timer .flip-card .bottom-flip {
  position: absolute;
  bottom: 0;
  width: 100%;
  animation: flip-bottom 250ms ease-out 250ms;
  transform-origin: top;
  transform: rotateX(90deg);
}

@keyframes flip-bottom {
  100% {
    transform: rotateX(0deg);
  }
}

#registration .timer .container {
  display: flex;
  gap: .5em;
  justify-content: center;
}

#registration .timer .container-segment {
  display: flex;
  flex-direction: column;
  gap: .1em;
  align-items: center;
}

#registration .timer .segment {
  display: flex;
  gap: .1em;
}

#registration .timer .segment-title {
  font-size: 1rem;
}


#registration .form{
  background-color: azure;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin: 10vw 0vw 10vw 7vw;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

#registration .form input{
  margin: 15px 0;
  padding: 15px  10px;
  border:  rgb(84, 40, 241);
  outline: none;
}

#registration .form input::placeholder{
  color: #413c3c;
  font-weight: 500;
  font-size: 0.9rem;
}

#registration .form .btn{
  margin-top: 30px;
}

#registration .form a.blue{
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 35px;
  background-color: #f7f7f7;
  font-weight: 600;
  border-radius: 5px;
  color: azure;
  background: rgb(21, 21, 100);
  transition: 0.5s ease-in-out;
}

#registration .form a.blue:hover{
  color: #FDC93B;
  background: #fff;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}






/* Keynote Speakers */
#key{
  padding: 4vw 22vw 4vw 22vw;
  text-align: center;
  /* margin-bottom: 2vw; */
  
}

#key .speakers-box{

  padding: 4%;
  border-radius: 10px;
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1.5rem;
  margin-top: 20px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  transition: 1.5s ease-in-out;
  align-items: center;

}

#key .speakers-box:hover{
  box-shadow: 0 20px 45px 0 rgba(0, 0, 4, 0.37);
}

#key .speakers{
  border-radius: 50px;
  text-align: center;
  background:azure;
  height: 100%;
  align-items: center;
  transition: 0.5s ease-in-out;
}

#key .speakers:hover{
  box-shadow: 0 20px 45px 0 rgba(0, 0, 4, 0.37);


}

#key .speakers img{
  align-items: center;
  border-radius: 50%;
  padding: 6%;
  width:60%;
  height: 55%;
  background-size: cover;
  background-position: center;
}



#key .speakers .details{
  padding: 0.5vw;
  
}

#key .speakers .details .h6{
  font-size: 1rem;
  font-weight: 300;  
}

#key .alignment{
  text-align: justify;
}



/* Patrons */
#key1{
  padding: 4vw 6vw 4vw 6vw;
  text-align: center;
  /* margin-bottom: 2vw; */
  
}

#key1 .speakers-box{

  padding: 4%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1.5rem;
  margin-top: 20px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  transition: 0.5s ease-in-out;
  align-items: center;

}

#key1 .speakers-box:hover{
  box-shadow: 0 20px 45px 0 rgba(0, 0, 4, 0.37);


}

#key1 .speakers{
  border-radius: 50px;
  text-align: center;
  background:azure;
  height: 100%;
  align-items: center;
  transition: 0.5s ease-in-out;
}

#key1 .speakers:hover{
  box-shadow: 0 20px 45px 0 rgba(0, 0, 4, 0.37);


}


#key1 .speakers img{
  align-items: center;
  border-radius: 50%;
  padding: 6%;
  width:50%;
  height: 62%;
  background-size: cover;
  background-position: center;
}


#key1 .speakers .details{
  padding: 1vw;
  
}

#key1 .alignment{
  text-align: justify;
}



/* Conference Overview */
#conf{
  padding: 4vw 20vw 4vw 20vw;
  text-align: center;

  /* margin-bottom: 2vw; */
  
}

#conf .speakers-box{
  padding: 3%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1.5rem;
  margin-top: 20px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  transition: 0.5s ease-in-out;

}

#conf .speakers-box:hover{
  box-shadow: 0 20px 45px 0 rgba(0, 0, 4, 0.37);


}

#conf .speakers{
  border-radius: 50px;
  text-align: center;
  background:azure;
  height: 100%;
  text-align: justify;
  padding: 1vw;

}


/* Downloads */

#download{
  padding: 4vw 6vw 4vw 6vw;;
  text-align: center;
}

#download .dwnld-box{
  padding: 2%;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

#download .dwnld-sec{
  padding: 2%;
  border-radius: 10px;
  background: azure ;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1.5rem;
  margin: 20px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

#download .items{
  border-radius: 50px;
  text-align: center;
  background:azure;
  height: 100%;
}


#download .dwnld-box .dwnld-sec .dwnld-items h6{
  font-size: 1 rem;
  font-weight: 500;
  color: rgb(46, 46, 59);
  padding-bottom:1vw;
}

#download .dwnld-box .dwnld-sec .dwnld-items img{
  padding: 5%;
  width: 30%;
  height: 30%;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

#download .dwnld-box .dwnld-sec .dwnld-items img:hover{
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  transform: rotate(15deg);
  transition: 0.8s ease-in-out;
  width: 31%;
}

#download a{
text-decoration: none;
font-size: 0.9rem;
padding:13px 35px;
background-color: honeydew;
font-weight: 600;
border-radius: 5px;
}


#download .btn{
  margin: 40px 0 30px 0;
  }

#download a.blue{
color:rgb(21, 21, 100);
background: #FDC93B;
transition: 0.5s ease-in-out;
}

#download a.blue:hover{
color:#FDC93B;
background: rgb(21, 21, 100);
box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}




/* Paper Submission */

#date1{
  list-style:none;
  padding: 4vw 30% 4vw 30%;
  text-align: center;
}

#date1  .lis{
  padding-left: 2vw;
  text-align:center;

}
#date1 .abt-box{
  padding: 2.5%;
  border-radius: 10px;
  background: azure;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  margin-top: 2vw;
  transition: 0.5s ease-in-out;

}

#date1 .abt-box:hover{
  box-shadow: 0 20px 45px 0 rgba(0, 0, 4, 0.37);


}


#date1 .abt-box h4{
  margin-top: 30px;
  font-size: 1 rem;
  font-weight: 400;
  color: rgb(46, 46, 59);
}

#date1 a{
text-decoration: none;
font-size: 0.9rem;
padding:13px 35px;
background-color: honeydew;
font-weight: 600;
border-radius: 5px;
}

#date1 .btn{
margin: 30px 0 30px 0;
}

#date1 a.blue{
color:rgb(21, 21, 100);
background: #FDC93B;
transition: 0.5s ease-in-out;
}

#date1 a.blue:hover{
color:#FDC93B;
background: rgb(21, 21, 100);
box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}







/* Footer */
footer{
  padding: 8vw 8vw 14vw 8vw;
  background-color: #101C32;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

}

footer .footer-col{
  text-decoration: none;
  padding-bottom: 40px;
}

footer h3{
  color: rgb(241, 240, 245);
  font-weight: 600;
  padding-bottom: 20px;
}

footer li{
  list-style: none;
  color: #7b838a;
  padding: 10px 0;
  font-size: 15px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

footer li:hover{
  color: rgb(241, 240, 245);
}

footer p{
  color: #7b838a;

}

footer.subscribe{
  margin-top: 20px;

}

footer input{
  width: 220px;
  padding: 15px 12px;
  background: #334f6c;
  margin-top: 1vw;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 6px;
}

footer .subscribe a{
    text-decoration: none;
    font-size: 0.9rem;
    padding:12px 15px;
    background-color: honeydew;
    font-weight: 600;
    border-radius: 5px;
}


footer .subscribe a.yellow{
    color:honeydew;
    background: #FDC93B;
    transition: 0.5s ease-in-out;
}

footer .subscribe a.yellow:hover{
    color:rgb(21, 21, 100);
    background: honeydew;
}

footer .copyright {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;

}



/* iPad Air View */
@media screen and (max-width: 821px) {
  
  h6{
    font-size: 1rem;
    color:rgb(24, 24, 49);
  } 
  
  nav {
    padding: 15px 20px;
  }
  nav img {
    width: 130px;
  }

  #menu-btn{
    width: 30px;
    height: 30px;
    display: initial;
  }
  
  #menu-close{
    display: initial;
    font-size: 1.6rem;
    color: #fff;
    padding: 30px 0 20px 20px;
  }

  nav .navigation ul{
    position: absolute;
    top: 0;
    right: -220px;
    width: 220px;
    height: 100vh;
    background: rgba(12, 12, 47, 0.45);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255, 0.18);
    border-radius: 10px 0px 0px 10px;
    box-shadow: 15px 15px 15px 0 rgba(12, 18, 102, 0.37);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: 1s ease-in-out;
  }

  nav .navigation ul.active{
    right: 0;
  }

  nav .navigation ul li{
    padding: 20px 0 20px 40px;
    margin-left: 0;
  }

  nav .navigation ul li a{
    color: #fff;

  }
  #home{
    padding-top: 0px;
  }
  #home p{
    width: 90%;
  }
  #home h2{
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-top: 7vw;
    padding-left: 1.9vw;
    padding-right: 1.9vw;

}

#home h3{
  padding-left: 2vw;
  padding-right: 2vw;
    width: fit-content;
    padding-top: 2vw;
    font-size: 1.4rem;
    letter-spacing: 0.8px;
    line-height:  30px;
}

#home h4{
    
    padding-top: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1rem;
    letter-spacing: 0.8px;
    line-height:  42px;
}

  #registration {
    padding: 3vw 1vw 3vw 1vw;
    
  }
  h1 {
    font-size: 2.0rem;
    padding-left: 4vw;
    padding-bottom: 3vw;
  }
  #registration .timer .container {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    justify-content: center;
}

  #key {
  padding: 1vw;
  }

}





/* iPhone 12 View */
@media (max-width:390px) {
#registration{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
}



/* Abouthome */

#Abouthome{
    
  background-image: linear-gradient(rgba(7, 5, 34, 0.3), rgba(0, 0, 0, 0.7)),url("images/back1.jpeg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
}

#Abouthome h2{
  color: aliceblue;
  font-size: 2.4rem;
  letter-spacing: 2px;
  padding-left: 4vw;
  padding-right: 4vw;
  text-shadow: 10px 20px 30px rgba(0, 0, 49, 0.37);

}

#Abouthome h3{
  color: rgb(227, 242, 255);
  width: 50%;
  padding-top: 4vw;
  font-size: 1.8rem;
  letter-spacing: 1px;
  line-height:  40px;
  text-shadow: 10px 20px 30px rgba(0, 0, 49, 0.37);
}

#Abouthome h4{
  color: rgb(227, 242, 255);
  padding-top: 4vw;
  font-size: 1.6rem;
  letter-spacing: 1px;
  line-height:  50px;
  text-shadow: 10px 20px 30px rgba(0, 0, 49, 0.37);
}

#Abouthome a{
  text-decoration: none;
  font-size: 0.9rem;
  padding:13px 35px;
  background-color: honeydew;
  font-weight: 600;
  border-radius: 5px;
}

#Abouthome .btn{
  margin-top: 30px;
}

#Abouthome a.blue{
  color:rgb(21, 21, 100);
  background: #FDC93B;
  transition: 0.5s ease-in-out;
}

#Abouthome a.blue:hover{
  color:#FDC93B;
  background: rgb(21, 21, 100);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
/* #Abouthome p{
  width: 50%;
  color: rgb(227, 242, 255);
  font-size: 1rem;
  line-height:  25px;
} */


/* Get in Touch */

#getintouch{

  padding: 10vw 20vw 8vw 20vw;;
  text-align: center;
}

#getintouch .abt-box{
  padding: 4%;
  border-radius: 10px;
  background: azure;
  text-align: justify;
  box-shadow: 0 8px 32px 0 rgba(55, 60, 115, 0.37);
  margin-top: 2vw;
  transition: 0.5s ease-in-out;
}

#getintouch .abt-box:hover{
  box-shadow: 0 20px 45px 0 rgba(0, 0, 4, 0.37);
}


#getintouch .abt-box h4{
  font-size: 1 rem;
  font-weight: 400;
  color: rgb(46, 46, 59);
}

/* Venue */

#venue{

  padding: 10vw 20vw 4vw 20vw;;
  text-align: center;
}

#venue .abt-box{
  padding: 4%;
  border-radius: 10px;
  background: azure;
  text-align: justify;
  box-shadow: 0 8px 32px 0 rgba(55, 60, 115, 0.37);
  margin-top: 2vw;
  transition: 0.5s ease-in-out;
}

#venue .abt-box:hover{
  box-shadow: 0 20px 45px 0 rgba(0, 0, 4, 0.37);
}


#venue .abt-box h4{
  font-size: 1 rem;
  font-weight: 400;
  color: rgb(46, 46, 59);
}

/* #venue .abt-box .map{
  transition: 0.5s ease-in-out;
}
#venue .abt-box .map:hover{
  margin: .25%;
} */



/* Committeehome */

#Committeehome{
    
  background-image: linear-gradient(rgba(57, 48, 181, 0.3), rgba(0, 0, 0, 0.7)),url("images/back2.jpeg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px;
}

#Committeehome h2{
  color: aliceblue;
  font-size: 2.4rem;
  letter-spacing: 2px;
  padding-left: 4vw;
  padding-right: 4vw;

}

#Committeehome h3{
  color: rgb(227, 242, 255);
  width: 50%;
  padding-top: 4vw;
  font-size: 1.8rem;
  letter-spacing: 1px;
  line-height:  40px;
}

#Committeehome h4{
  color: rgb(227, 242, 255);
  padding-top: 4vw;
  font-size: 1.6rem;
  letter-spacing: 1px;
  line-height:  50px;
}

#Committeehome a{
  text-decoration: none;
  font-size: 0.9rem;
  padding:13px 35px;
  background-color: honeydew;
  font-weight: 600;
  border-radius: 5px;
}

#Committeehome .btn{
  margin-top: 30px;
}

#Committeehome a.blue{
  color:rgb(21, 21, 100);
  background: #FDC93B;
  transition: 0.5s ease-in-out;
}

#Committeehome a.blue:hover{
  color:#FDC93B;
  background: rgb(21, 21, 100);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
/* #Committeehome p{
  width: 50%;
  color: rgb(227, 242, 255);
  font-size: 1rem;
  line-height:  25px;
} */








